return {
    -- Lock
    LOCK_KEY = 'forwarddelete',

    -- Hyper
    HYPER_KEY = { 'cmd', 'alt', 'ctrl', 'shift' },
    HYPER_APPS = {
        { 't',  'com.google.Chrome.app.agimnkijcaahngcdmfeangaknmldooml', 'youtube' }, -- Youtube
        { 'y',  'com.spotify.client',                                     'music' },
        { 'u',  'net.whatsapp.WhatsApp',                                  'whatsapp' },
        { 'i',  'com.tinyspeck.slackmacgap',                              'slack' },
        { 'o',  'com.apple.mail',                                         'mail' },
        { 'p',  'com.apple.iCal',                                         'ical' },
        { '[',  'com.apple.Preview',                                      'preview' },

        { 'g',  'com.sequel-ace.sequel-ace',                              'sequel' },
        { 'h',  'com.postmanlabs.mac',                                    'postman' },
        { 'j',  'com.google.Chrome',                                      'chrome' },
        { 'k',  'com.microsoft.VSCode',                                   'vscode' },
        { 'k',  'com.jetbrains.PhpStorm',                                 'phpstorm' },
        { 'l',  'dev.warp.Warp-Stable',                                   'warp' },
        { ';',  'com.apple.finder',                                       'finder' },
        { '\'', 'com.google.Chrome.app.jckaldkomadaenmmgladeopgmfbahfjm', 'chatgpt' },   -- ChatGPT

        { 'v',  'com.google.Chrome.app.odaaojmcjgjeagefapjncffiippojpcf', 'viaplay' },   -- Viaplay
        { 'b',  'com.google.Chrome.app.jmbmfkcklehpncjdciobggbfknplngcl', 'bitbucket' }, -- Bitbucket
        { 'n',  'com.google.Chrome.app.ninkclcondpjflmchmajlfpnmjfalnai', 'jira' },      -- Jira
    },

    -- Workspace
    WORKSPACE_DEFAULT = '🏠',
    WORKSPACE_ITEMS = {
        ['💻'] = { primaryScreen = 'Built-in Retina Display' },
        ['🏠'] = { primaryScreen = 'LG ULTRAWIDE' },
        ['🏢'] = { primaryScreen = 'LG ULTRAFINE' },
    },

    -- Windows
    WINDOW_LOCATIONS = {
        ['💻'] = {
            ['1'] = { x = 0.00, y = 0.00, w = 1.00, h = 1.00 }, -- primary
        },
        ['🏠'] = {
            ['1'] = { x = 0.30, y = 0.00, w = 0.40, h = 1.00 }, -- primary
            ['2'] = { x = 0.70, y = 0.00, w = 0.30, h = 1.00 }, -- secondary
            ['3'] = { x = 0.00, y = 0.00, w = 0.30, h = 0.50 }, -- left-top
            ['4'] = { x = 0.00, y = 0.50, w = 0.30, h = 0.50 }, -- left-bottom
            ['5'] = { x = 0.20, y = 0.10, w = 0.60, h = 0.80 }, -- middle
        },
        ['🏢'] = {
            ['1'] = { x = 0.00, y = 0.00, w = 0.55, h = 1.00 },             -- primary
            ['2'] = { x = 0.55, y = 0.00, w = 0.45, h = 1.00 },             -- secondary
            ['3'] = { x = 0.00, y = 0.00, w = 1.00, h = 0.50, screen = 2 }, -- screen-2-top
            ['4'] = { x = 0.00, y = 0.50, w = 1.00, h = 0.50, screen = 2 }, -- screen-2-bottom
            ['5'] = { x = 0.10, y = 0.10, w = 0.80, h = 0.80 },             -- middle
        },
    },
    -- Every first item in the list is focused when "Focus windows" is triggered
    WINDOW_PRESETS = {
        ['💻'] = {
            ['1'] = { 'vscode', 'phpstorm', 'chrome', 'chatgpt', 'postman', 'figma', 'jira', 'bitbucket', 'youtube', 'viaplay', 'music', 'mail', 'slack', 'whatsapp', 'finder', 'preview', 'warp', 'sequel', 'ical' }, -- primary
        },
        ['🏠'] = {
            ['1'] = { 'vscode', 'phpstorm' },                                                                     -- primary
            ['2'] = { 'chrome', 'chatgpt', 'postman' },                                                           -- secondary
            ['3'] = { 'jira', 'bitbucket', 'youtube', 'viaplay', 'music', 'mail', 'slack', 'whatsapp', 'figma' }, -- left-top
            ['4'] = { 'finder', 'preview', 'warp', 'sequel' },                                                    -- left-bottom
            ['5'] = { 'ical' },                                                                                   -- middle
        },
        ['🏢'] = {
            ['1'] = { 'vscode', 'phpstorm' },                                                            -- primary
            ['2'] = { 'chrome', 'chatgpt', 'postman', 'figma' },                                         -- secondary
            ['3'] = { 'jira', 'bitbucket', 'youtube', 'viaplay', 'music', 'mail', 'slack', 'whatsapp' }, -- left-top
            ['4'] = { 'finder', 'preview', 'warp', 'sequel' },                                           -- left-bottom
            ['5'] = { 'ical' },                                                                          -- middle
        },
    }
}
